.env
*.git*
poetry*
/deployment
.vscode
.venv
.pytest_cache
README.md

# Terraform directories and files
**/.terraform/*

*.tfstate
*.tfstate.*

crash.log
crash.*.log


*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc